APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8080

DB_HOST=localhost
DB_PORT=7654
DB_USER=postgres
DB_PASSWORD=change-me-before-use
DB_NAME=wms
DB_SCHEMA=wms
DB_SSLMODE=disable
DB_TIMEZONE=Asia/Jakarta
DB_AUTO_CREATE=true

AUTH_BOOTSTRAP_ADMIN_ENABLED=false
AUTH_BOOTSTRAP_ADMIN_USERNAME=admin
AUTH_BOOTSTRAP_ADMIN_EMAIL=admin@wms.local
AUTH_BOOTSTRAP_ADMIN_DISPLAY_NAME=WMS Administrator
AUTH_BOOTSTRAP_ADMIN_PASSWORD=ChangeMe-Before-Use-2026!
AUTH_BOOTSTRAP_ADMIN_TIMEZONE=Asia/Jakarta
